{% extends 'starter-page.html' %}

{% load static%}

{% block body%}
<!-- Get Started Section -->
<section id="get-started" class="get-started section">

  <div class="container">

    <div class="row justify-content-between gy-4">

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="content">
          <h3>Transforming Kenyan Construction</h3>
          <p>At TanSmart Constructions, we specialize in modern solutions for Kenya’s infrastructure needs. Our
            expertise ranges from residential buildings to large-scale commercial developments, all tailored to meet
            your vision.</p>
          <p>We are committed to delivering projects on time, ensuring high-quality standards, and incorporating
            sustainable practices to create lasting impacts for communities.</p>
        </div>
      </div>

      <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
        <form action="forms/quote.php" method="post" class="php-email-form">
          <h3>Get a quote</h3>
          <p>Looking to start a project? Share your details, and our team will reach out with a personalized plan that
            aligns with your goals.</p>
          <div class="row gy-3">

            <div class="col-12">
              <input type="text" name="name" class="form-control" placeholder="Name" required="">
            </div>

            <div class="col-12">
              <input type="email" class="form-control" name="email" placeholder="Email" required="">
            </div>

            <div class="col-12">
              <input type="text" class="form-control" name="phone" placeholder="Phone" required="">
            </div>

            <div class="col-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

              <button type="submit">Get a quote</button>
            </div>

          </div>
        </form>
      </div><!-- End Quote Form -->

    </div>

  </div>

</section><!-- /Get Started Section -->


{% endblock %}